.completedChallengesContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 3.5rem 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid #d7d8da;
}

.completedChallengesContainer span:nth-child(1) {
  font-size: 1.25rem;
}

.completedChallengesContainer span:nth-child(2) {
  font-size: 1.5rem;
}
